.section{
    height: 100vh;
    background: rgb(155, 121, 189);
    background: transparent;

}

.container{
    display: flex;
    position: relative;
    width: 80vw;
    height: 80vh;
    top: 3rem;
    margin:  auto;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.326);
    backdrop-filter: blur(10px);
}